/* Container */
.bg-withdraw {
  margin-top: 120px;
  border-radius: 12px;
  background-color: #ffffff; /* Dark background for contrast */
  width: 95%;
  padding: 20px; /* Add padding for spacing */
  display: flex;
  flex-direction: column;
}
.work-text-income{
  font-size: 40px;
  font-weight: bolder;
}

/* Title */
.work-text-withdraw {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 24px;
  color: #333; /* Dark text for better readability */
  font-weight: bold;
}


/* Income Display */
.work-text-incomeUser-withdraw {
  color: #FFB800;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

/* Dropdown Menu */
.work-dropdown-item {
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 30%; /* Adjust width for responsiveness */
  transition: background-color 0.3s;
  border: 1px solid #000000; /* Define border thickness, style, and color */
}

.work-dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Input Fields */
.input-field {
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd; /* Light border for input fields */
  font-size: 16px;
  width: calc(100% - 20px);
  border: 1px solid #000000;
}

.input-field:focus {
  border-color: #FFB800;
  outline: none;
}

/* Submit Button */
.button-withdraw-save {
  background-color: #FFB800;
  color: #000;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 20px;
  border: none;
  width: 40%;

}

.button-withdraw-save:hover {
  background-color: #e6a700;
}

.withdrawButton-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Popup Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Slightly less dark for a softer look */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.popup-content button {
  background-color: #FFB800;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s;
}

.popup-content button:hover {
  background-color: #e6a700;
}
