.profile-container {
    background-color: #222;
    padding: 0; /* ไม่มี padding เพื่อให้เต็มพื้นที่ */
    color: white;
    width: 100vw; /* กว้างเต็มหน้าจอ */
    height: 100vh; /* สูงเต็มหน้าจอ */
    box-sizing: border-box; /* รวม padding ในการคำนวณความกว้าง */
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    overflow: hidden; 
    margin-left: 25%;
    margin-top: 12%;
}

.box {
    background-color: #333;
    padding: 40px; 
    border-radius: 20px; /* ลดความโค้งมน */
    width: 100%; /* ให้เต็มความกว้าง */
    max-width: 700px; 
    height: auto; /* ให้ความสูงปรับตามเนื้อหา */
    margin: 20 auto; /* จัดกลาง */
    position: relative; 
    display: flex; /* ใช้ flexbox */
    flex-direction: column; /* จัดเรียงตามแนวตั้ง */
    align-items: flex-start; /* จัดแนวไปทางซ้าย */
    justify-content: flex-start; /* จัดเรียงจากบนลงล่าง */
    margin-left: 25%;
}

.item {
    margin: 10px 0;
}

.label {
    color: rgb(247, 247, 247);
    font-weight: bold; 
}

.value {
    color: white;
    margin-left: 10px;
}

.editProfile {
    color: rgb(43, 43, 219);
    text-decoration: none;
    position: absolute; /* ตั้งตำแหน่งแบบ absolute */
    top: -40px; /* ระยะห่างจากด้านบน */
    right: 20px; /* ระยะห่างจากด้านขวา */
    z-index: 10; /* เพิ่ม z-index เพื่อให้แน่ใจว่ามันอยู่ด้านบน */
}

.no-profile-picture {
    font-size: 14px;
    color: #aaa;
    text-align: left; 
}
