.bg-Income {
  margin-top: 140px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 60%;
  padding: 20px; /* เพิ่ม padding */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* เพิ่มเงา */
}

.text-income-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #FFB800; /* เพิ่มเส้นขอบด้านล่าง */
  padding-bottom: 20px; /* เพิ่ม padding ด้านล่าง */
}

.text-income {
  background-color: #ffffff;
  font-size: 2.5em;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.work-text-incomeUser {
  margin: 40px auto;
  text-align: center;
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.work-text-incomeUser img {
  width: 50px;
  height: 50px;
}

.withdraw-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.withdraw-input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 60%;
}

.work-button-withdraw {
  background-color: #FFB800;
  color: rgb(0, 0, 0);
  margin: 20px auto;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-button-withdraw:hover {
  background-color: #e6a700;
  transform: scale(1.05);
}

.withdraw-success-message {
  color: #4CAF50; /* สีเขียว */
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
