      /* General layout and spacing */
      /* body {
        background-color: #7a4343; 
        color: #000000; 
        font-family: sans-serif; 
      } */

      .background_of_writer{
        margin-top: 160px;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        width: 95%;
        height: auto;
      }
