.card-list-b {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.card-list-c{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    padding: 10px;
}