.cardv {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 95%;
    max-width: 100%;
    height: auto;
    align-items: center;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 10px;
    box-shadow: 0 10px 14px rgba(18, 18, 18, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .cardv:hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 30px rgba(18, 18, 18, 0.15); 
  }
  
  .image-placeholderv {
    display: flex;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    flex-shrink: 0;
    margin-right: 0px;
  }
  
  #image-placeholderv {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .contentv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1;
    height: 100%;
    min-width: 200px;
    padding: 8px;
  }
  
  .titlev {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .descriptionv {
    font-size: 0.7em;
    color: #777;
    margin-bottom: 16px;
  }
  
  .read-buttonv {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
  }
  
  .interactionsv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .icon-textv {
    color: #000000;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .icon-text-bv,
  .icon-text-hv {
    font-size: 1em;
    cursor: pointer;
  }
  
  .icon-text-hv:hover {
    color: red;
  }
  
  .tagsv {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
  }
  
  .tagv {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7em;
    color: #444444;
    padding: 4px 8px;
  }
  
  .bookmark-iconv {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.2em;
    color: #777;
    cursor: pointer;
  }
  
  .read-buttonv:hover {
    background-color: #333;
  }
  
  .tagv:hover {
    background-color: #ccc;
  }
  
  .bookmark-iconv:hover {
    color: rgb(211, 208, 0);
  }
  

  @media (max-width: 768px) {
    .cardv {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  