.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  .pagination button:hover{
    background-color: #b5b5b5;
  }
  .pagination button.active {
    background-color: #4e4e4e;
    color: #fff;
    border-color: #212121;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }