.addNovelbutton {
    background-color: #FFB800;
    border-radius: 20px;
    border: none;
    padding: 0px 20px 2px;
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    height: 40px;
    font-weight: bold;
    color: black;
    transition: transform 0.2s ease, background-color 0.2s ease; /* เพิ่ม transition */
}

.addNovelbutton:hover {
    transform: scale(1.05); /* ขยายขนาดเมื่อ hover */
    background-color: #ebad0f; /* เปลี่ยนสีเมื่อ hover */
    color: black;
}

.addNovelbutton:active {
    transform: scale(0.95); /* ย่อขนาด   ปุ่มเล็กลงเมื่อกด */
    background-color: #d89a0b; /* เปลี่ยนสีเมื่อปุ่มถูกกด */
}

/* Optional animation effect */
@keyframes clickEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
